<h2>Reactivos: Dinámicos</h2>
<hr />

<form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <!-- Nombre -->
  <div class="field grid">
    <label for="personName" class="col-fixed" style="width: 100px">Name</label>
    <div class="col flex flex-column">
      <input
        formControlName="name"
        pInputText
        id="personName"
        type="text"
        placeholder="Person name"
        [ngClass]="{ 'ng-invalid ng-dirty': invalidField('name') }"
      />
      <small *ngIf="invalidField('name')" class="text-red-600 mt-1">
        {{ getFieldError("name") }}
      </small>
    </div>
  </div>

  <!-- Agregar Favorito -->
  <div class="field grid">
    <label for="add-fav" class="col-fixed" style="width: 100px"
      >Add anime</label
    >
    <div class="col flex flex-column">
      <div class="p-inputgroup" id="add-fav">
        <input
          type="text"
          pInputText
          placeholder="Anime title"
          [formControl]="newAnime"
        />
        <button type="button" pButton label="Add" (click)="addAnime()"></button>
      </div>
    </div>
  </div>

  <!-- Lista de Juegos Favoritos -->
  <div class="field grid">
    <label
      for="delete-fav"
      class="col-fixed align-self-start"
      style="width: 100px"
      >Favourite Animes</label
    >
    <div class="col flex flex-column" id="delete-fav">
      <div
        formArrayName="favoriteAnimes"
        *ngFor="let anime of favoriteAnimes.controls; let i = index"
        class="mb-2"
      >
        <p-inputGroup>
          <input type="text" pInputText [formControlName]="i" />
          <button
            pButton
            type="button"
            label="Delete"
            class="p-button-danger"
            (click)="deleteAnime(i)"
          ></button>
        </p-inputGroup>
        <small
          *ngIf="invalidFieldInArray(favoriteAnimes, i)"
          class="text-red-600 mt-1"
        >
          Este campo es requerido
        </small>
      </div>
    </div>
  </div>

  <div class="flex justify-content-end">
    <p-button label="Save" type="submit"></p-button>
  </div>
</form>
