<h2>Reactivos: Switches</h2>

<form [formGroup]="myForm" autocomplete="off" class="p-3" (ngSubmit)="onSave()">
  <!-- Radio -->
  <div class="grid mb-4">
    <label class="col-fixed" style="width: 150px">Gender</label>
    <div class="col flex flex-column gap-3">
      <div class="flex align-items-center">
        <p-radioButton
          name="gender"
          value="M"
          formControlName="gender"
          inputId="masculino"
        />
        <label for="masculino" class="ml-2"> Masculino </label>
      </div>

      <div class="flex align-items-center">
        <p-radioButton
          name="gender"
          value="F"
          formControlName="gender"
          inputId="femenino"
        />
        <label for="femenino" class="ml-2"> Femenino </label>
      </div>
    </div>
  </div>

  <!-- Switches -->
  <div class="grid mb-4">
    <label class="col-fixed" style="width: 150px">Notificaciones</label>
    <div class="flex-1">
      <div class="flex align-items-center">
        <p-inputSwitch
          formControlName="wantsNotification"
          id="flexSwitchCheckChecked"
          class="mr-2"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Quiero recibir notificaciones</label
        >
      </div>
    </div>
  </div>

  <!-- Switches -->
  <div class="grid">
    <label class="col-fixed" style="width: 150px">Notificaciones</label>
    <div class="col flex flex-column">
      <div class="flex align-items-center gap-1 mb-1">
        <p-checkbox
          formControlName="termsAndConditions"
          [binary]="true"
          inputId="t&c"
        />
        <label for="t&c">Términos y condiciones de uso</label>
      </div>
      <small *ngIf="invalidField('termsAndConditions')" class="text-red-600">
        Debe de aceptar las condiciones de uso
      </small>
    </div>
  </div>

  <!-- Boton submit -->
  <div class="flex justify-content-end">
    <button pButton type="submit">Guardar</button>
  </div>
</form>

<h5>Valor del formulario</h5>
<pre>{{ myForm.value | json }}</pre>
<br />

<h5>Persona</h5>
<pre>{{ person | json }}</pre>
<br />

<h5>Valid</h5>
<pre>{{ myForm.valid | json }}</pre>

<!-- <h5>Términos</h5> -->
<!-- <pre>{{ myForm.controls?.terminos?.errors | json }}</pre> -->

<!-- <br>
<pre>Condiciones: </pre> -->
