<h2>Validaciones Reactivas</h2>
<hr />

<div class="grid">
  <div class="col">
    <form [formGroup]="myForm" autocomplete="off" (ngSubmit)="onSave()">
      <!-- Name -->
      <div class="field grid">
        <label for="name" class="col-12 mb-2 md:col-2 md:mb-0">Name </label>
        <div class="col-12 md:col-10">
          <div class="mb-1">
            <input
              formControlName="name"
              id="name"
              type="text"
              pInputText
              placeholder="Name"
              class="w-12"
            />
          </div>
          <small
            *ngIf="isInvalidField('name')"
            class="text-red-600"
            id="username-help"
            >Must be name and lastname format.</small
          >
        </div>
      </div>

      <!-- username -->
      <div class="field grid">
        <label for="username" class="col-12 mb-2 md:col-2 md:mb-0"
          >Username
        </label>
        <div class="col-12 md:col-10">
          <div class="mb-1">
            <input
              pInputText
              formControlName="username"
              id="username"
              type="text"
              placeholder="Enter the username"
              class="w-12"
            />
          </div>
          <small
            *ngIf="isInvalidField('username')"
            class="text-red-600"
            id="username-help"
            >Username Error message.</small
          >
        </div>
      </div>

      <!-- email -->
      <div class="field grid">
        <label for="email" class="col-12 mb-2 md:col-2 md:mb-0">Email </label>
        <div class="col-12 md:col-10">
          <div class="mb-1">
            <input
              formControlName="email"
              id="email"
              type="text"
              pInputText
              placeholder="Email address "
              class="w-12"
            />
          </div>
          <small
            *ngIf="isInvalidField('email')"
            class="text-red-600"
            id="username-help"
            >Please enter a valid email</small
          >
        </div>
      </div>

      <!-- password -->
      <div class="field grid">
        <label for="password" class="col-12 mb-2 md:col-2 md:mb-0"
          >Password
        </label>
        <div class="col-12 md:col-10">
          <div class="mb-1">
            <input
              formControlName="password"
              id="password"
              type="password"
              pInputText
              placeholder="Enter your password"
              class="w-12"
            />
          </div>
          <small
            *ngIf="isInvalidField('password')"
            class="text-red-600"
            id="username-help"
            >The password must have more than 6 characters.</small
          >
        </div>
      </div>

      <!-- Confirm -->
      <div class="field grid">
        <label for="confirm" class="col-12 mb-2 md:col-2 md:mb-0"
          >Confirm
        </label>
        <div class="col-12 md:col-10">
          <div class="mb-1">
            <input
              formControlName="password2"
              id="confirm"
              type="password"
              pInputText
              placeholder="Confirm password"
              class="w-12"
            />
          </div>
          <small
            *ngIf="isInvalidField('password2')"
            class="text-red-600"
            id="username-help"
            >The password must be the same.</small
          >
        </div>
      </div>

      <!-- Button -->
      <div class="flex justify-content-end">
        <p-button label="Create" type="submit"></p-button>
      </div>
    </form>
  </div>
</div>

<div class="grid">
  <div class="col-3">
    <h2>Form Valid: {{ myForm.valid }}</h2>
  </div>
  <div class="col-3">
    <h2>Form Status: {{ myForm.status }}</h2>
  </div>
  <div class="col-3">
    <h2>Form Pending: {{ myForm.pending }}</h2>
  </div>
  <div class="col-3">
    <h2>Form errors {{ myForm.errors | json }}</h2>
  </div>
</div>

<div class="grid">
  <div class="col-3">
    <div class="bg-pink-50 p-2">
      <p class="text-lg">Nombre errors</p>
      <pre>{{ myForm.controls["name"].errors | json }}</pre>
    </div>
  </div>
  <div class="col-3">
    <div class="bg-pink-50 p-2">
      <p class="text-lg">Email errors</p>
      <pre>{{ myForm.controls["email"].errors | json }}</pre>
    </div>
  </div>

  <div class="col-3">
    <div class="bg-pink-50 p-2">
      <p class="text-lg">Username errors</p>
      <pre>{{ myForm.controls["username"].errors | json }}</pre>
    </div>
  </div>
  <div class="col-3">
    <div class="bg-pink-50 p-2">
      <p class="text-lg">Password</p>
      <pre>{{ myForm.value.password | json }}</pre>
    </div>
  </div>
  <div class="col-3">
    <div class="bg-pink-50 p-2">
      <p class="text-lg">Confirmar</p>
      <pre>{{ myForm.get("password2")?.errors | json }}</pre>
    </div>
  </div>
</div>
