<h2>Validaciones Reactivas</h2>
<hr />

<div class="grid">
  <div class="col">
    <form autocomplete="off">
      <!-- Name -->
      <div class="field grid">
        <label for="name" class="col-12 mb-2 md:col-2 md:mb-0">Name </label>
        <div class="col-12 md:col-10">
          <div class="mb-1">
            <input id="name" type="text" pInputText placeholder="Name" />
          </div>
          <small class="text-red-600" id="username-help"
            >Must be name and lastname format.</small
          >
        </div>
      </div>

      <!-- username -->
      <div class="field grid">
        <label for="username" class="col-12 mb-2 md:col-2 md:mb-0"
          >Username
        </label>
        <div class="col-12 md:col-10">
          <div class="mb-1">
            <input
              id="username"
              type="text"
              pInputText
              placeholder="Enter the username"
            />
          </div>
          <small class="text-red-600" id="username-help"
            >Username Error message.</small
          >
        </div>
      </div>

      <!-- email -->
      <div class="field grid">
        <label for="email" class="col-12 mb-2 md:col-2 md:mb-0">Email </label>
        <div class="col-12 md:col-10">
          <div class="mb-1">
            <input
              id="email"
              type="text"
              pInputText
              placeholder="Email address "
            />
          </div>
          <small class="text-red-600" id="username-help"
            >Mail Error message.</small
          >
        </div>
      </div>

      <!-- password -->
      <div class="field grid">
        <label for="password" class="col-12 mb-2 md:col-2 md:mb-0"
          >Password
        </label>
        <div class="col-12 md:col-10">
          <div class="mb-1">
            <input
              id="password"
              type="text"
              pInputText
              placeholder="Enter your password"
            />
          </div>
          <small class="text-red-600" id="username-help"
            >The password must have more than 6 characters.</small
          >
        </div>
      </div>

      <!-- Confirm -->
      <div class="field grid">
        <label for="confirm" class="col-12 mb-2 md:col-2 md:mb-0"
          >Confirm
        </label>
        <div class="col-12 md:col-10">
          <div class="mb-1">
            <input
              id="confirm"
              type="text"
              pInputText
              placeholder="Confirm password"
            />
          </div>
          <small class="text-red-600" id="username-help"
            >The password must be the same.</small
          >
        </div>
      </div>

      <!-- Button -->
      <p-button label="Create"></p-button>
    </form>
  </div>
</div>

<h2>Form Valid:</h2>
<h2>Form Status:</h2>
<h2>Form Pending:</h2>
<h2>Form errors</h2>
<pre>{{ "formulario" | json }}</pre>

<h5>Nombre</h5>
<pre>{{ "formulario" | json }}</pre>

<h5>Email</h5>
<pre>{{ "formulario" | json }}</pre>

<h5>Username</h5>
<pre>{{ "formulario" | json }}</pre>

<h5>Password</h5>
<pre>{{ "formulario" | json }}</pre>

<h5>Confirmar</h5>
<pre>{{ "formulario" | json }}</pre>
